/* tidy up radios in pure-form-aligned layout */
.pure-form-aligned .pure-control-group .pure-radio {
	text-align: left;
	width: 5em;
}

.pure-form .radiogroup {
	padding: 0;
	display: inline-block;
}

.pure-form-aligned .radiogroup label {
	text-align: left;
}

.right {
	text-align: right;
}

.calc-name {
	text-align: right;
}

.calc-value {
    text-align: left;
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #0065BD;
    font-weight: bold;
    font-style: italic;
}

.intro h2.pending {
    background-color: gray;
    color: white;
    text-align : center;
}

.intro h2.full-help {
    background-color: green;
    color: white;
    text-align : center;
}

.intro h2.partial-help {
    background-color: orange;
    color: white;
    text-align : center;
}

.intro h2.no-help {
    background-color: red;
    color: white;
    text-align : center;
}

.todo {
	visibility: hidden;
	height: 0px;
}

li {
    list-style: square inside; 
    margin-top: 5px;
}