<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="body">

  <form class="pure-form pure-form-aligned" action="#" th:action="@{/assessments/__${id}__}" th:object="${assessment}"
    th:method="PUT">

    <div class="right">
      <button class="button" type="submit" name="update" th:text="#{form.update}">Update</button>
    </div>

    <h1>Household</h1>
    <h2>Address</h2>
    <fieldset>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.houseNameNumber')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine1')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine2')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine3')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.postcode')"></div>
    </fieldset>

    <h1>Main Applicant</h1>
    <div th:include="person :: body(person_path='application.applicant')"></div>
    
    <h1>Partner</h1>
    <div th:replace="person :: body(person_path='application.partner')" th:if="${applicant.hasPartner}"></div>

    <div class="right">
      <button class="button" type="submit" name="update" th:text="#{form.update}">Update</button>
    </div>

  </form>


</body>
</html>