<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="body">

  <form class="pure-form pure-form-aligned" action="#" th:action="@{/assessments/__${id}__}" th:object="${assessment}"
    th:method="PUT">

	<h1>Application</h1>
    <div class="right">
      <button class="button" type="submit" name="update" th:text="#{form.update}">Update</button>
    </div>

    <h2>Household</h2>
    <h3>Address</h3>
    <fieldset>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.houseNameNumber')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine1')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine2')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.addressLine3')"></div>
      <div class="pure-control-group" th:include="application-fields :: textfield('application.address.postcode')"></div>
    </fieldset>

    <h2>Main Applicant</h2>
    <div th:include="person :: body(person_path='application.applicant')"></div>
    
    <h2>Partner</h2>
    <div class="pure-control-group" th:include="application-fields :: booleanfield('application.hasPartner')"></div>
    <div th:if="*{application.hasPartner == true}">
	    <div th:replace="person :: body(person_path='application.partner')"></div>
    </div>

    <div class="right">
      <button class="button" type="submit" name="update" th:text="#{form.update}">Update</button>
    </div>

  </form>


</body>
</html>