<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Prototype Rules Engine Interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../css/pure-min.css" media="all" />
<link rel="stylesheet" type="text/css" href="../css/application.css" media="all" />
<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
</head>

<body>
  <div id="content">

    <div class="container">
      <div class="header">
        <div class="headerlogo">
          <p>Version ${project.version}</p>
        </div>
      </div>
  
      <div class="clear"></div>
  
      <div class="intro">
        <div>
          <a th:href="@{/assessments/}">Back to list</a></div>
        <div th:unless="${assessment eq null}"></div>
        <div>
          <form class="pure-form pure-form-aligned"  action="#" 
          		th:action="@{/assessments/__${id}__}" th:object="${assessment}" th:method="PUT">
            <h1>Household</h1>
            <h2>Address</h2>
            <fieldset >
	            <div class="pure-control-group" th:include="table-fields :: textfield('application.address.houseNameNumber')">
	            </div>
	            <div class="pure-control-group" th:include="table-fields :: textfield('application.address.addressLine1')">
	            </div>
	            <div class="pure-control-group" th:include="table-fields :: textfield('application.address.addressLine2')">
	            </div>
	            <div class="pure-control-group" th:include="table-fields :: textfield('application.address.addressLine3')">
	            </div>
	            <div class="pure-control-group" th:include="table-fields :: textfield('application.address.postcode')">
	            </div>
            </fieldset>
            <h1>Main Applicant</h1>
            <h2>Personal Details</h2>
            <fieldset>
                  <div class="pure-control-group" th:include="table-fields :: textfield('application.applicant.name.title')">
                  </div>
                  <div class="pure-control-group" th:include="table-fields :: textfield('application.applicant.name.forenames')">
                  </div>
                  <div class="pure-control-group" th:include="table-fields :: textfield('application.applicant.name.surname')">
                  </div> 
                  <div class="pure-control-group" th:include="table-fields :: datefield('application.applicant.dob')">
                  </div>
                  <div class="pure-control-group" th:include="table-fields :: textfield('application.applicant.nino')">
                  </div>
			</fieldset>
			
            <h2>Benefits</h2>
            <fieldset th:each="benefit, benefitRow : ${assessment.application.applicant.benefits}">
				<div 
					th:include="table-fields :: benefit('application.applicant.benefits[__${benefitRow.index}__]', 'application.applicant.benefits[__${benefit.type}__]')">
				</div>
			</fieldset>

            <h2>Income</h2>
            <div th:each="income, incomeRow : ${assessment.application.applicant.incomes}">
				<fieldset>
					<div class="pure-control-group"
						th:include="table-fields :: income('application.applicant.incomes[__${incomeRow.index}__]', 'application.applicant.incomes[__${income.type}__]')">
					</div>
				</fieldset>
			</div>

            <h2>Outgoings</h2>
            <div th:each="outgoing, outgoingRow : ${assessment.application.applicant.outgoings}">
				<fieldset>
					<div class="pure-control-group"
						th:include="table-fields :: outgoing('application.applicant.outgoings[__${outgoingRow.index}__]', 'application.applicant.outgoings[__${outgoing.type}__]')">
					</div>
				</fieldset>
			</div>

   			<h1>Calculation</h1>
      		<div>
      		</div>
  
            <div>
              <button class="button" type="submit" name="update" th:text="#{form.update}">Remove row</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    
    </div>
  </div>
</body>
</html>
