<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="body">

  <h1>Award</h1>

  <div th:if="${assessment.entitlement?.level == T(uk.nhs.nhsbsa.lis.rules.v1.model.outcome.EntitlementLevel).FULL}">
    <h2 class="full-help" >FULL HELP</h2>
  </div>

  <div th:if="${assessment.entitlement?.level == T(uk.nhs.nhsbsa.lis.rules.v1.model.outcome.EntitlementLevel).PARTIAL}">
    <h2 class="partial-help" >PARTIAL HELP</h2>
  </div>

  <div th:if="${assessment.entitlement?.level == T(uk.nhs.nhsbsa.lis.rules.v1.model.outcome.EntitlementLevel).NONE}">
    <h2 class="no-help" >NO HELP</h2>
  </div>

  <p>Excess contribution is <span th:text="${assessment.entitlement?.excessContribution}"></span></p>

</body>
</html>