<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="body">

  <h1>Breakdown</h1>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th th:text="#{breakdown.title.totals}" colspan="2">Totals</th>
      </tr>
    </thead>
    <tbody>
      <tr th:include="breakdown-fields :: textfield('breakdown.runningTotal')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.runningPremiums')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.runningIncome')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.totalHousing')"></tr>
    </tbody>
    <thead>
      <tr>
        <th th:text="#{breakdown.title.allowances}" colspan="2">Allowances</th>
      </tr>
    </thead>
    <tbody>
      <tr th:include="breakdown-fields :: textfield('breakdown.personalAllowance')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.dependantsAllowance')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.disabledChildPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.clientGroupPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.enhancedDisabilityPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.familyPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.severeDisabilityPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.carerPremium')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.councilTax')"></tr>
    </tbody>
    <thead>
      <tr>
        <th th:text="#{breakdown.title.housing}" colspan="2">Housing</th>
      </tr>
    </thead>
    <tbody>
      <tr th:include="breakdown-fields :: textfield('breakdown.mortgage')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.rent')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.groundRent')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.otherCosts')"></tr>
      <tr th:include="breakdown-fields :: textfield('breakdown.nonDependantDeductions')"></tr>
    </tbody>
  </table>


  <h3>Income &amp; Capital</h3>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th th:text="#{breakdown.title.income.type}">Income Type</th>
        <th th:text="#{breakdown.title.income.paidTo}"></th>
        <th th:text="#{breakdown.title.income.weeklyAmount}"></th>
        <th th:text="#{breakdown.title.income.earningsDisregard}"></th>
        <th th:text="#{breakdown.title.income.otherDisregard}"></th>
        <th th:text="#{breakdown.title.income.netWeeklyAmount}"></th>
      </tr>
    </thead>
    <tbody th:object="${assessment.breakdown2}" >
      <tr th:each="ic, icRow : *{incomeCapital}" >
      	<td th:replace="breakdown-fields :: incomeCapital('breakdown2.incomeCapital[__${icRow.index}__]')"></td>
      </tr>
    </tbody>
  </table>



  <!--     private List<IncomeCapital> incomeCapitals; -->
  <!--     private List<ClientGroup> clientGroups; -->

  <!--     private LocalDate claimDate; -->
  <!--     private LocalTime zeroHour=LocalTime.parse("00:00"); -->

  <!--     // TODO Other factors used in calculation - not sure if this should be here or elsewhere -->
  <!--     private Boolean hasPartner; -->
  <!--     private Long mainClaimantAge; -->
  <!--     private Long parterAge; -->

  <!--     private Double prescriptionPrice; -->
  <!--     private Double upperLimitHC3Amount; -->

  <!--     private ExemptionOutcome exemptionOutcome; -->

</body>
</html>