<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="textfield(path)">
		<label th:text="#{__${path}__}">Text Field</label>
		<input type="text" th:field="*{__${path}__}"
			th:disabled="!${assessment.requirements.isRequired('__${path}__')}" />
		<span th:text="${assessment.requirements.isRequired('__${path}__')}"></span>
	</div>

	<div th:fragment="datefield(path)">
		<label th:text="#{__${path}__}">Text Field</label>
		<input type="date" th:field="*{__${path}__}"
			th:disabled="!${assessment.requirements.isRequired('__${path}__')}" />
		<span th:text="${assessment.requirements.isRequired('__${path}__')}"></span>
	</div>

	<div th:fragment="benefit(path, key)" class="pure-control-group">
		<div class="pure-control-group">
			<label th:text="#{__${key}__}">Benefit Field</label>
			<input type="hidden" th:field="*{__${path}__.type}" /> <input
			type="text" th:field="*{__${path}__.value}"
			th:disabled="!${assessment.requirements.isRequired('__${path}__')}" />
			<span th:text="${assessment.requirements.isRequired('__${path}__')}"></span>
		</div>
	</div>
	
	<div  th:fragment="income(path, key)">
		<div class="pure-control-group">
			<label th:text="#{__${key}__}">Income Field</label>
			<input type="hidden" th:field="*{__${path}__.type}" /> <input
			type="text" th:field="*{__${path}__.value}"
			th:disabled="!${assessment.requirements.isRequired('__${path}__')}" />
			<span th:text="${assessment.requirements.isRequired('__${path}__')}"></span>
		</div>
	</div>
	
	<div th:fragment="outgoing(path, key)">
		<div>
			<label th:text="#{__${key}__}">Outgoing Field</label>
			<input type="hidden" th:field="*{__${path}__.type}" /> <input
			type="text" th:field="*{__${path}__.value}"
			th:disabled="!${assessment.requirements.isRequired('__${path}__')}" />
			<span th:text="${assessment.requirements.isRequired('__${path}__')}"></span>
		</div>
	</div>
	
</body>
</html>