<!doctype html>

<html lang="en" ng-app="lisRuleExploreApp">
<head>
  <meta charset="utf-8">

  <title>LIS Rules Explorer</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular-1.5.6.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body ng-controller="LISRuleExploreController">
  <ul class="list-unstyled">
  <li ng-repeat="lisTableFieldsArray in lisTableArray">
  <table class="table table-striped" name="{{lisTableFieldsArray.tableName}}">
     <thead>
	 <th>Name</th>
	 <th>Value</th>
	 <th>Requirement</th>
	 <th>Trigger Rule</th>
	 <th>Validation Rule</th>
	 </thead>
     <tbody>
     <tr ng-repeat="lisFormField in lisTableFieldsArray">
	     <td><span>{{lisFormField.name}}</span></td>
		 <td><input type="text" name="{{lisFormField.name}}" ng-model="lisFormField.value" ng-disabled="!editFormEnabled"/></td>
		 <td><span>{{lisFormField.rule}}</span></td>
		 <td><span>{{lisFormField.trigger}}</span></td>
		 <td><span>{{lisFormField.validation}}</span></td>
	 </tr>
	 </tbody>
  </table>
  </li>
  </ul>
  <button id="editBtn" type="button" class="btn btn-primary pull-right" ng-hide="editFormEnabled" ng-click="editFormEnabled = !editFormEnabled"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
  <button id="saveBtn" type="button" class="btn btn-primary pull-right" ng-show="editFormEnabled" ng-click="saveLisForm()">Save</button>
</body>
</html>